# Shlte OS GRUB Configuration
# For ARM64 UEFI boot with ISO

set timeout=5
set default=0

menuentry "Shlte OS" {
    linux /boot/kernel.bin console=ttyAMA0
    initrd /boot/initramfs.cpio
}

menuentry "Shlte OS (Debug)" {
    linux /boot/kernel.bin console=ttyAMA0 debug=1
    initrd /boot/initramfs.cpio
}
